
# Development dependencies
mypy
pyinstaller
pylint
pytest
pytest-pylint
pytest-mypy

# Application dependencies
pandas 
python_docx
ttkwidgets
customtkinter
requests
semver
docxcomposer
python-slugify
keyring

# Documentation dependencies
plantweb
rstcheck
sphinx_rtd_theme
sphinx_tabs
